.p-1{
    font-size: 500%;
    border: 5px solid red;
    color: rgbrgb(203, 151, 20);
    background-color: hsl(90, 80%, 70%, 1);
}
#p-1{
    background-color:hsl(90, 80%, 70%, 1) ;
    color:rgb(rgb(69, 5, 244),) ;
}