

body{
    background-image: url(./../images/bg-desktop.svg);
    background-color: hsl(256, 40%, 49%);
    background-repeat: no-repeat;
    overflow: hidden;
}

.container{
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    gap: 10px;
}

.img-1{
    margin-left: 10%;
    margin-top: 7%;
}

.img-2{
    margin-left: 10%;
    margin-top: 8%;
}

h1{
    margin-left: 90%;
    margin-top: 20%;
}