*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    gap: 51px
    ;
}

.div_card{
    justify-items: center;
    width: 250px;
    height: 250px;
    background-color: brown;
   
}